{% extends 'layout.html.twig' %}

{% block title %}Histoires d'Oliviers
{% endblock %}

{% block body %}
	<div class="main-head-section">
		<div class="home-title">
			<div class="main-title">
				<h1>Vente d'oliviers, palmiers et plantes méditerranéennes</h1>
				<h2>Particuliers - Professionnels</h2>
				<div class="box-3">
					<div class="btn btn-three" onclick="enter()">
						<span>ENTRER</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="presentation" class="presentation">
		<div class="section-2 container-fluid text-center col col-md-8">
			<div class="block-presentation my-auto">
				<img src="{{ asset('build/images/unnamed.png') }}" class="presentation-img" alt="image plante">
				<hr/>
				<p id="intro" class="align-items-center">Trouvez sur ce site toutes les informations pour acheter l’olivier qu’il vous faut. Rejoingnez une pépinière en ligne ou une véritable plateforme de jardinerie. Profitez d'un large choix d’arbustes, d’arbres et d’oliviers centenaires avec des délais de réapprovisionnent très court, et bien sûr, une qualité irréprochable.</p>
			</div>
		</div>
	</div>
	<div class="section-4">
		<div class="row w-100 m-0 justify-content-center home-store">
			<div class="col-12 text-center py-4">
				<h3>Découvrez nos produits</h3>
			</div>
			{% for product in lastProducts %}
				<div class="col col-md-4 my-3">
					{% include('products/_partials/product.html.twig') %}
				</div>
			{% endfor %}
			<div class="box-4 my-4 text-center">
				<div class="btn btn-three" onclick="goToShop()">
					<span>Boutique</span>
				</div>
			</div>
		</div>
	</div>
	<div class="home-wall d-none d-sm-block"></div>
	<div class="py-5 comment-section text-center">
		<h3>
			<i class="fas fa-quote-left"></i>
			Lorem Ipsum dolor sit amet, consectetur adipiscing elit</h3>
	</div>
	<div class="home-delivery row w-100 m-0">
		<div class="col col-md-6"></div>
		<div class="col-md-6 home-delivery-text my-auto">
			<p class="m-0">Profitez de la livraison et plantation de votre arbre dans un rayon de 30 kilomètres d'Orléans.</p>
		</div>
	</div>

	<script type="text/javascript">
		function enter() {
document.getElementById('presentation').scrollIntoView({behavior: 'smooth'});
}

var body = document.getElementsByTagName("body")[0];
var parent = document.getElementById("presentation");
var child = document.getElementById("intro");
body.onscroll = function () {
if (document.documentElement.scrollTop >= (parent.offsetTop - 600)) {
child.classList.add('appear');
}
};

function goToShop() {
window.location.href = "/boutique";
}
	</script>
{% endblock %}
