{% extends 'layout.html.twig' %}

{% block title %}Histoires d'Oliviers
{% endblock %}

{% block body %}
	<div class="main-head-section">
		<div class="home-title">
			<div class="main-title">
				<h1>Vente d'oliviers, palmiers et plantes méditerranéennes</h1>
				<h2>Particuliers - Professionnels</h2>
				<div class="box-3">
					<div class="btn btn-three" onclick="enter()">
						<span>ENTRER</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="presentation" class="presentation">
		<div class="section-2 container-fluid text-center col col-md-8">
			<div class="block-presentation my-auto">
				{#<img src="{{ asset('build/images/IMG_4571.png') }}" class="presentation-img" alt="image plante">#}
				<div class="intro">
					<h2 class="title">La petite histoire</h2>
					<hr/>
					<p class="align-items-center">Histoires d'Oliviers est le fruit d'une histoire d'amour entre les deux fondateurs, tous deux passionnés par l'olivier, un arbre chargé de symboles forts.</p>
					<p class="align-items-center">Nous vous proposons d'acheter en ligne des arbres uniques, de haute qualité et entretenus par nos soins.</p>
					<p class="align-items-center">Profitez du forfait livraison et/ou plantation dans un rayon de 30 kms autour d'Orléans.</p>
					<p class="align-items-center">Vous découvrirez également des plantes exotiques et méditerranéennes ainsi que des objets et minéraux de décoration pour sublimer vos jardins.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="section-4">
		<div class="row w-100 m-0 justify-content-center home-store">
			<div class="col-12 text-center py-4">
				<h3>Découvrez nos produits</h3>
			</div>
			{% for product in lastProducts %}
				<div class="col col-md-4 my-3">
					{% include('products/_partials/product.html.twig') %}
				</div>
			{% endfor %}
			<div class="box-4 my-4 text-center">
				<div class="btn btn-three" onclick="goToShop()">
					<span>Boutique</span>
				</div>
			</div>
		</div>
	</div>
	<div class="home-wall d-none d-sm-block"></div>
	<div class="py-5 comment-section text-center">
		<h3>
			<i class="fas fa-quote-left"></i>
			L'arbre du silence porte les fruits de la paix</h3>
	</div>
	<div class="home-delivery row w-100 m-0">
		<div class="col col-md-6"></div>
		<div class="col-md-6 home-delivery-text my-auto">
			<p class="m-0">Livraison et/ou plantation de votre arbre dans un rayon de 30 kms autour d'Orléans.</p>
			<p>Pour toute autre demande en dehors de cette zone, n'hésitez pas à nous contacter.</p>
		</div>
	</div>

	<script type="text/javascript">
		function enter() {
document.getElementById('presentation').scrollIntoView({behavior: 'smooth'});
}

var body = document.getElementsByTagName("body")[0];
var parent = document.getElementById("presentation");
var child = document.querySelector('.intro');
body.onscroll = function () {
if (document.documentElement.scrollTop >= (parent.offsetTop - 600)) {
child.classList.add('appear');
}
};

function goToShop() {
window.location.href = "/boutique";
}
	</script>
{% endblock %}
