{% extends 'layout.html.twig' %}

{% block title %}Histoires d'Oliviers{% endblock %}

{% block body %}
<div class="main-head-section">
    <h1>Lorem ipsum dolor</h1>
    <h2>Lorem ipsum doror ghg jeyey jbqjgdhg jqgdhg  hgdg dghgd  ahzgdz dzhqshdqjq dhdgq g </h2>
</div>

{% endblock %}
