{% extends 'layout.html.twig' %}

{% block title %}Conseils et entretien
{% endblock %}

{% block body %}
	<div class="container">
		<div class="block-title-head advices-tape">
			<h1>Conseils et entretien</h1>
		</div>
		<div class="white-block advices">
			<h2 class="text-center mb-3">Entretenir mon olivier</h2>
			<p class="advices-presentation">Arbre iconique de Méditerranée et symbole de paix, la popularité de l’olivier égale son exceptionnelle longévité qui peut atteindre plus d’un millénaire. Son élégant feuillage aux reflets gris-argentés et ses fameuses olives répandent une chaleureuse atmosphère provençale partout où il est installé, que ce soit dans un jardin, sur une terrasse ou sur un balcon. Robuste, facile d’entretien et bien acclimaté aux climats plus frais que celui de son habitat d’origine, il peut être adopté sans effort en toute région à condition d’être protégé des températures négatives.
			</p>
			<div class="advices-presentation-img"></div>
			<div class="advices-block">
				<h3>Une exposition ensoleillée</h3>
				<p>Réservez un emplacement ensoleillé pour y planter votre olivier en pleine terre ou pour l’y exposer en pot. Résistant à la sécheresse, un environnement chaud est nécessaire à sa fructification. Idéalement, privilégiez un endroit à l’abri du vent.</p>
			</div>
			<div class="advices-block">
				<h3>Planter mon olivier</h3>
				<p>Dans les régions les plus froides, privilégiez la culture de l’olivier en pot ou en bac afin de pouvoir le rentrer en hiver. Choisissez un contenant percé dans lequel vous pourrez éventuellement ajouter un lit de graviers ou de billes d’argiles pour assurer un bon drainage et empêcher l’eau de stagner. Remplissez ensuite le pot avec du terreau spécifique pour plantes méditerranéennes qui soit drainant. En prévision de la période de froid hivernal, réalisez un paillis au pied de votre olivier afin qu’il puisse maintenir ses racines abritées du gel.
				</p>
				<p>Vous pourrez réaliser une culture en pleine terre dans les régions dont le climat est de type méditerrannéen ou doux. Privilégiez un sol drainant et sablonneux en réalisant un mélange de terreau, de terre de jardin et de sable.</p>
			</div>
			<div class="advices-block">
				<h3>Arrosage</h3>
				<p>Bien que résistant à la sécheresse, l’olivier cultivé en pot ne dispose que de ressources limitées et apprécie donc d’être arrosé régulièrement, mais sans excès, lorsque la surface de son terreau est sec. Lors des saisons les plus chaudes, notamment en été et en l’absence de pluie, arrosez une à deux fois par semaine. Réduisez la fréquence à mesure que les températures baissent. Veillez à éviter les excès d’eau et l’eau stagnante au fond du pot ou dans la soucoupe qui pourrait faire pourrir les racines.</p>
				<p>En pleine terre, arrosez régulièrement après la plantation afin qu’il puisse s’enraciner convenablement. Une fois bien installé, arrosez seulement l’été une à deux fois par mois, en veillant à éviter les excès d’eau.

				</p>
			</div>
			<div class="advices-block">
				<h3>Entretien</h3>
				<p>La fertilisation peut s’avérer nécessaire pour les oliviers en pot, dont les ressources sont limitées, afin qu’ils disposent des nutriments suffisants à leur développement. Privilégiez l’utilisation d’un type d’engrais spécial plantes méditerranéennes à diffusion lente que vous apporterez au printemps et à la fin de l’été. 
										Le rempotage s'effectue tous les 3 ans environ, à la fin de l'hiver, sur les jeunes arbres. Pour les gros sujets, vous pouvez simplement remplacer la terre en surface par du terreau neuf. Privilégiez un terreau drainant.
				</p>
			</div>
		</div>
	</div>
{% endblock %}
