{% extends 'layout.html.twig' %}

{% block title %}Nous contacter
{% endblock %}

{% block body %}
	<div class="container">
		<div class="block-title-head contact-tape">
			<h1>Nous contacter</h1>
		</div>
		<div class="white-block">
			<div class="row">
				<div class="col-12 col-md-6 p-3">
					<div class="contact-brand">
						<p>Toute notre équipe se tient à votre disposition pour vos besoins et demandes.</p>
						<h3>Histoires d'Oliviers</h3>
					</div>
				</div>
				<div class="col-12 col-md-6 p-3">
					<form action="" class="contact-form">
						<input type="text" class="form-control" placeholder="Nom Prénom">
						<input type="email" class="form-control" placeholder="Email">
						<select name="" id="" class="form-control">
							<option value="">Demande de renseignement</option>
							<option value="">Avis ou réclamations</option>
							<option value="">Autre</option>
						</select>
						<textarea name="" id="" class="form-control" placeholder="Votre texte ici"></textarea>
						<input type="submit" class="btn btn-secondary btn-lg">
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
