<div class="product-card">
	<span class="promo-zone">Promotion</span>
	<div class="product-img-zone">
		<img src="{{ asset('build/images/olivier-d-europe-609764-2.jpg') }}" class="product-img" alt="photo">
	</div>
	<div class="product-text">
		<p class="product-title">Olivier</p>
		<p class="product-description">Some quick example text to build on the card title</p>
		<div class="product-details">
			<div class="product-price">
				<p>150<sup>€</sup>
					<span>179 €</span>
				</p>
			</div>
		</div>
		<ul>
			<li>Lorem Ipsum dolor</li>
			<li>Lorem Ipsum dolor</li>
			<li>Lorem Ipsum dolor</li>
		</ul>
		<div class="text-center">
			<a href="#" class="btn btn-primary btn-gold">Acheter</a>
		</div>
	</div>
</div>