<div class="suggest-card">
	<div class="suggest-card-image-zone">
		<img src="{{ asset('build/images/olivier-d-europe-609764-2.jpg') }}" alt="photo">
	</div>
	<p class="suggest-card-description">Lorem ipsum dolor</p>
	<p class="suggest-card-price">25<sup>€</sup>
		<span>50 €</span>
	</p>
</div>
