<table style="margin: auto">
	<thead>
		<tr style="width: 100%">
			<td>
				<img src="emailLogo.png" alt="logo" style="object-fit: fill;">
			</td>
		</tr>
	</thead>
	<tbody>
		<tr style="height: 30px;"></tr>
		<tr>
			<td style="padding: 0 15px;">
				<p>Objet : {{ subject }}</p>
				<p>{{ addedVar }}</p>
			</td>
		</tr>
	</tbody>
</table>
