<footer class="bg-dark p-5">
	<div class="row">
		<div class="col text-center">
			<h5 class="footer-title">Histoires d'Oliviers</h5>
			<address>
				00 lorem ipsum<br/>
				00000 Lorem<br>
				+33 0 00 00 00 00
			</address>
			<div class="text-center">
				<i class="fab fa-facebook-square mx-3"></i>
				<i class="fab fa-instagram mx-3"></i>
				<i class="fab fa-twitter-square mx-3"></i>
			</div>
		</div>
		<div class="col">
			<h5>Navigation</h5>
			<hr/>
			<ul>
				<li>Boutique</li>
				<li>Conseils et entretien</li>
				<li>Livraison et plantation</li>
			</ul>
		</div>
		<div class="col my-auto">
			<ul>
				<li>Mentions légales</li>
				<li>Conditions générales de vente</li>
				<li><img src="{{ asset('/build/images/1_3F0aVwtldSINy6PNcd2OBw.jpeg') }}" alt="Logo stripe"></li>
			</ul>
		</div>
	</div>
</footer>
