.admin-section {
    padding-top: 68px;
    height: 100vh;
    .admin-menu {
        height: 100%;
        width: 20vw;
        .menu-link {
            display: block;
            padding: 30px 0;
            text-align: center;
            border-bottom: 1px solid lightgray;
            color: whitesmoke;
            text-decoration: none;
            transition: all .2s ease-in;
            &:hover {
                background-color: lightgray;
                color: black;
            }
        }
    }
    .active {
        background-color: $gold !important;
        color: black !important;
    }
    .admin-content {
        padding: 50px;
        max-height: 100%;
        width: 100%;
        overflow: auto;
        .input-photo {
            max-width: 200px;
            height: auto;
        }
        .indicators {
            padding: 20px 0;
            .indicator {
                text-align: center;
                border: 1px solid $gold;
                border-radius: 5px;
                padding: 5px 0;
                margin-bottom: 20px;
                font-size: 50px;
            }
            a {
                display: block;
                color: black;
                text-decoration: none;
                text-align: center;
                border: 1px solid $gold;
                border-radius: 5px;
                padding: 10px 0;
                margin-bottom: 20px;
                &:hover {
                    color: white;
                    background-color: $gold;
                }
            }
        }
    }
}