.delivery-tape {
    background-image: linear-gradient(330deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 70%), url('../../static/images/Resized_20210820_123107.jpg');
    background-position-y: 60%;
}

.delivery-block {
    padding: 30px;
    border-left: 1px solid $gold;
    border-right: 1px solid $gold;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    img {
        width: 250px;
        height: 250px;
        object-fit: cover;
        border-radius: 100%;
    }
}