footer {
    color: black;
    background-color: $gold;
    font-family: 'Montserrat';
    .footer-title {
        font-size: 50px;
        color: black;
        //text-shadow: 1px 1px 1px grey;
        font-family: 'Grethania';
    }
    hr {
        color: white;
    }
    ul {
        list-style-type: none;
        padding-left: 0;
    }
    li {
        line-height: 30px;
    }
    img {
        max-width: 200px;
        height: auto;
        border-radius: 10%;
    }
    i {
        font-size: 25px;
        color: black;
    }
    .stripe-icon {
        font-size: 50px !important;
    }
}