footer {
    color: black;
    background-color: $gold;
    font-family: 'Montserrat';
    .footer-title {
        font-size: 50px;
        color: black;
        font-family: 'Grethania';
    }
    hr {
        color: white;
    }
    ul {
        list-style-type: none;
        padding-left: 0;
    }
    li {
        line-height: 30px;
    }
    .footer-navigation a {
        transition: all .2s ease-in;
        color: black;
        text-decoration: none;
        &:hover {
            color: white;
        }
    }
    i {
        font-size: 25px;
        color: black;
    }
    .stripe-icon {
        font-size: 50px !important;
    }
}