@font-face {
    font-family: 'Grethania';
    src: url('../../static/fonts/Grethania Script Reguler.ttf');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../static/fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Gruppo';
    src: url('../../static/fonts/Gruppo-Regular.ttf');
}

html::-webkit-scrollbar {
    width: 5px;
}

html::-webkit-scrollbar-thumb {
    background-color: $gold;
    border-radius: 10px !important;
}

html::-webkit-scrollbar-track {
    background-color: black;
}

body {
    height: 100%;
}

.container {
    padding-top: 70px;
}

.page {
    min-height: 90vh;
}

.white-block {
    background-color: whitesmoke;
    padding: 30px;
    margin: 30px 50px;
    box-shadow: -1px 5px 5px -4px #000;
}

.block-title-head {
    padding: 50px 10px;
    background: #fff;
    background-size: cover;
    background-position-Y: -50%;
    border-radius: 5px;
    h1 {
        font-family: 'Grethania';
        font-size: 100px;
        opacity: 0;
        transform: translateX(-30px);
        animation: apparition 0.4s .3s ease-out forwards;
    }
}

p {
    font-family: 'Montserrat';
}

.btn-gold {
    font-family: 'Montserrat';
    background-color: $gold;
    border: none;
    font-size: 20px;
    border-radius: 30px;
    padding: 0 40px;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    &:hover {
        background-color: $gold;
    }
}

.product-card {
    display: flex;
    background-color: #FFF;
    border-radius: 10px 0 10px 10px;
    position: relative;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    transition: all .2s ease-in;
    transform: scale(1);
    height: 300px;
    &:hover {
        transform: scale(1.06);
    }
    .promo-zone {
        position: absolute;
        top: -24px;
        right: 0;
        background-color: $gold;
        color: white;
        border-radius: 10px 10px 0 0;
        padding: 0 30px;
    }
    .product-img {
        width: 180px;
        height: 100%;
        border-radius: 10px 0 0 10px;
    }
    .product-text {
        padding: 10px;
        font-size: 2vw;
        .product-title {
            font-family: 'Noto Serif Display', serif;
            font-size: 25px;
            margin-bottom: 0;
        }
        .product-description {
            font-size: 12px;
            margin-bottom: 0;
        }
        .product-details {
            display: flex;
            align-items: center;
            justify-content: space-around;
            font-size: 12px;
            .product-price {
                font-size: 50px;
                color: $gold;
                text-shadow: 0 4px 4px rgb(0 0 0 / 25%);
                p {
                    position: relative;
                    margin-bottom: 0;
                    sup {
                        position: absolute;
                        top: 25px;
                        bottom: auto;
                        font-size: 15px;
                    }
                    span {
                        font-size: 10px;
                        color: black;
                        text-decoration: line-through;
                    }
                }
            }
        }
    }
    ul {
        border: 1px solid $gold;
        border-radius: 10px;
        padding: 10px;
        list-style-type: none;
        margin-bottom: 10px;
        li {
            font-size: 8px;
        }
    }
}

.form-control {
    border: 1px solid $gold;
}

.miniature {
    height: 70px;
    width: 70px;
    object-fit: cover;
}

@keyframes apparition {
    100% {
        opacity: 1;
        transform: none;
    }
}

@media screen and (max-width: 667px) {
    .btn {
        font-size: 12px !important;
    }
    .product-img {
        width: 150px !important;
        height: 100%;
        border-radius: 10px 0 0 10px;
    }
    .product-price p {
        font-size: 40px;
    }
    .btn-gold {
        font-size: 20px;
        padding: 0 10px;
    }
    .white-block {
        margin: 50px 0 50px 0;
        padding: 5px;
    }
}